.appHeader {
  background: purple;
  height: 50px;
  position: sticky;
  top: 0;
}
.appHeader > h1 {
  text-align: center;
  color: white;
  line-height: 50px;
  margin: 0;
}
.moviesContainer {
  display: flex;
  flex-direction: column;
}
.appHeader > .searchBox {
  float: unset;
}
.paginationContainer {
  padding-left: 75%;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
